<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ZAILANI_1202154183_modul2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.example.ZAILANI_1202154183_modul2.Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="com.example.ZAILANI_1202154183_modul2.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.ZAILANI_1202154183_modul2.TakeAway"
            android:label="Take Away"
            android:parentActivityName="com.example.ZAILANI_1202154183_modul2.MainActivity" />
        <activity
            android:name="com.example.ZAILANI_1202154183_modul2.DineIn"
            android:label="Dine In"
            android:parentActivityName="com.example.ZAILANI_1202154183_modul2.MainActivity" />
        <activity android:name="com.example.ZAILANI_1202154183_modul2.DaftarMenu"
            android:label="Daftar Menu"/>
        <activity android:name="com.example.ZAILANI_1202154183_modul2.MenuAdapter" />
        <activity android:name="com.example.ZAILANI_1202154183_modul2.MenuDetail"
            android:parentActivityName="com.example.ZAILANI_1202154183_modul2.DaftarMenu"></activity>
    </application>

</manifest>